# Ignore dataset
DataSet/
Upload/
static/
templates/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore model files
*.pth
*.pkl

# Ignore numpy saved files
*.npy

# Ignore virtual environment
venv/
.env/
